.popular{
    color:#f7325e; 
    background-color: aqua;
    height: 300px;
    width: 200px;
    text-align: center;
}
.tropical{
    text-align: justify;
    background-color: bisque;
    height:300%;
    text-justify: center;

} 
html{
    background-color: #f7325e
}
.important {
    color: ger;
  }
  .unimportant {
    color: blue;
  }
  .cat-climate {
    background-color: yellow;
  }
    
